-- Online Laundry Service Database
-- Complete and Corrected Database Structure
-- Version: 2.0

-- Create Database
CREATE DATABASE IF NOT EXISTS `online_laundry`;
USE `online_laundry`;

-- Set SQL Mode
SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
START TRANSACTION;
SET time_zone = "+00:00";

-- --------------------------------------------------------
-- Table structure for table `admin`
-- --------------------------------------------------------

CREATE TABLE `admin` (
  `AdminID` int(11) NOT NULL AUTO_INCREMENT,
  `Name` varchar(255) NOT NULL,
  `UserName` varchar(100) NOT NULL UNIQUE,
  `Email` varchar(255) NOT NULL UNIQUE,
  `password` varchar(255) NOT NULL,
  `CreatedAt` timestamp DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`AdminID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- --------------------------------------------------------
-- Table structure for table `customer`
-- --------------------------------------------------------

CREATE TABLE `customer` (
  `CustomerID` int(11) NOT NULL AUTO_INCREMENT,
  `Name` varchar(255) NOT NULL,
  `UserName` varchar(200) NOT NULL UNIQUE,
  `password` varchar(255) NOT NULL,
  `PhoneNumber` varchar(20) NOT NULL,
  `Email` varchar(255) NOT NULL UNIQUE,
  `Address` varchar(255) NOT NULL,
  `Status` enum('active','inactive') DEFAULT 'active',
  `CreatedAt` timestamp DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`CustomerID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- --------------------------------------------------------
-- Table structure for table `driver`
-- --------------------------------------------------------

CREATE TABLE `driver` (
  `Driver_id` int(11) NOT NULL AUTO_INCREMENT,
  `fname` varchar(100) NOT NULL,
  `gender` enum('Male','Female','Other') NOT NULL,
  `phone` varchar(15) NOT NULL,
  `email` varchar(100) NOT NULL UNIQUE,
  `address` varchar(255) NOT NULL,
  `lnumber` varchar(20) NOT NULL UNIQUE,
  `vehicle` varchar(20) NOT NULL,
  `vnumber` varchar(25) NOT NULL,
  `uname` varchar(200) NOT NULL UNIQUE,
  `pw` varchar(200) NOT NULL,
  `Status` enum('active','inactive','suspended') DEFAULT 'active',
  `CreatedAt` timestamp DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`Driver_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- --------------------------------------------------------
-- Table structure for table `services`
-- --------------------------------------------------------

CREATE TABLE `services` (
  `ServiceID` int(11) NOT NULL AUTO_INCREMENT,
  `ServiceName` varchar(100) NOT NULL,
  `Description` text,
  `Price` decimal(10,2) NOT NULL,
  `Category` varchar(50) NOT NULL,
  `Status` enum('active','inactive') DEFAULT 'active',
  PRIMARY KEY (`ServiceID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- --------------------------------------------------------
-- Table structure for table `orders`
-- --------------------------------------------------------

CREATE TABLE `orders` (
  `OrderID` int(11) NOT NULL AUTO_INCREMENT,
  `CustomerID` int(11) NOT NULL,
  `DriverID` int(11) DEFAULT NULL,
  `OrderDate` timestamp DEFAULT CURRENT_TIMESTAMP,
  `PickupDate` date NOT NULL,
  `DeliveryDate` date NOT NULL,
  `PickupAddress` varchar(255) NOT NULL,
  `DeliveryAddress` varchar(255) NOT NULL,
  `TotalAmount` decimal(10,2) NOT NULL,
  `Status` enum('pending','confirmed','picked_up','processing','ready','out_for_delivery','delivered','cancelled') DEFAULT 'pending',
  `PaymentStatus` enum('pending','paid','failed') DEFAULT 'pending',
  `Notes` text,
  PRIMARY KEY (`OrderID`),
  FOREIGN KEY (`CustomerID`) REFERENCES `customer`(`CustomerID`) ON DELETE CASCADE,
  FOREIGN KEY (`DriverID`) REFERENCES `driver`(`Driver_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- --------------------------------------------------------
-- Table structure for table `order_items`
-- --------------------------------------------------------

CREATE TABLE `order_items` (
  `OrderItemID` int(11) NOT NULL AUTO_INCREMENT,
  `OrderID` int(11) NOT NULL,
  `ServiceID` int(11) NOT NULL,
  `Quantity` int(11) NOT NULL DEFAULT 1,
  `UnitPrice` decimal(10,2) NOT NULL,
  `TotalPrice` decimal(10,2) NOT NULL,
  `SpecialInstructions` text,
  PRIMARY KEY (`OrderItemID`),
  FOREIGN KEY (`OrderID`) REFERENCES `orders`(`OrderID`) ON DELETE CASCADE,
  FOREIGN KEY (`ServiceID`) REFERENCES `services`(`ServiceID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- --------------------------------------------------------
-- Table structure for table `payments`
-- --------------------------------------------------------

CREATE TABLE `payments` (
  `PaymentID` int(11) NOT NULL AUTO_INCREMENT,
  `OrderID` int(11) NOT NULL,
  `CustomerID` int(11) NOT NULL,
  `Amount` decimal(10,2) NOT NULL,
  `PaymentMethod` enum('cash','card','paypal','bank_transfer') NOT NULL,
  `PaymentStatus` enum('pending','completed','failed','refunded') DEFAULT 'pending',
  `TransactionID` varchar(100),
  `PaymentDate` timestamp DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`PaymentID`),
  FOREIGN KEY (`OrderID`) REFERENCES `orders`(`OrderID`) ON DELETE CASCADE,
  FOREIGN KEY (`CustomerID`) REFERENCES `customer`(`CustomerID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- --------------------------------------------------------
-- Table structure for table `card_payments`
-- --------------------------------------------------------

CREATE TABLE `card_payments` (
  `CardPaymentID` int(11) NOT NULL AUTO_INCREMENT,
  `PaymentID` int(11) NOT NULL,
  `CardType` varchar(50) NOT NULL,
  `CardNumber` varchar(20) NOT NULL,
  `CardHolderName` varchar(100) NOT NULL,
  `CVV` varchar(10) NOT NULL,
  `ExpirationMonth` int(2) NOT NULL,
  `ExpirationYear` int(4) NOT NULL,
  `CreatedAt` timestamp DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`CardPaymentID`),
  FOREIGN KEY (`PaymentID`) REFERENCES `payments`(`PaymentID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- --------------------------------------------------------
-- Table structure for table `feedback`
-- --------------------------------------------------------

CREATE TABLE `feedback` (
  `FeedbackID` int(11) NOT NULL AUTO_INCREMENT,
  `CustomerID` int(11) NOT NULL,
  `OrderID` int(11) DEFAULT NULL,
  `Rating` int(1) NOT NULL CHECK (Rating >= 1 AND Rating <= 5),
  `FeedbackText` text NOT NULL,
  `FeedbackDate` timestamp DEFAULT CURRENT_TIMESTAMP,
  `Status` enum('pending','approved','rejected') DEFAULT 'pending',
  PRIMARY KEY (`FeedbackID`),
  FOREIGN KEY (`CustomerID`) REFERENCES `customer`(`CustomerID`) ON DELETE CASCADE,
  FOREIGN KEY (`OrderID`) REFERENCES `orders`(`OrderID`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- --------------------------------------------------------
-- Table structure for table `customer_support`
-- --------------------------------------------------------

CREATE TABLE `customer_support` (
  `SupportID` int(11) NOT NULL AUTO_INCREMENT,
  `CustomerID` int(11) DEFAULT NULL,
  `Name` varchar(100) NOT NULL,
  `Email` varchar(255) NOT NULL,
  `Phone` varchar(20) NOT NULL,
  `InquiryType` enum('existing_contract','service_issues','proposal_request','delivery_issues','other') NOT NULL,
  `Message` text NOT NULL,
  `Status` enum('open','in_progress','resolved','closed') DEFAULT 'open',
  `CreatedAt` timestamp DEFAULT CURRENT_TIMESTAMP,
  `ResolvedAt` timestamp NULL,
  PRIMARY KEY (`SupportID`),
  FOREIGN KEY (`CustomerID`) REFERENCES `customer`(`CustomerID`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- --------------------------------------------------------
-- Table structure for table `delivery_locations`
-- --------------------------------------------------------

CREATE TABLE `delivery_locations` (
  `LocationID` int(11) NOT NULL AUTO_INCREMENT,
  `CustomerID` int(11) NOT NULL,
  `LocationName` varchar(100) NOT NULL,
  `Address` varchar(255) NOT NULL,
  `Province` varchar(50) NOT NULL,
  `District` varchar(50) NOT NULL,
  `Area` varchar(50) NOT NULL,
  `Landmark` varchar(100),
  `IsDefault` boolean DEFAULT FALSE,
  `CreatedAt` timestamp DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`LocationID`),
  FOREIGN KEY (`CustomerID`) REFERENCES `customer`(`CustomerID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- --------------------------------------------------------
-- Table structure for table `order_tracking`
-- --------------------------------------------------------

CREATE TABLE `order_tracking` (
  `TrackingID` int(11) NOT NULL AUTO_INCREMENT,
  `OrderID` int(11) NOT NULL,
  `Status` enum('order_placed','confirmed','picked_up','processing','ready','out_for_delivery','delivered','cancelled') NOT NULL,
  `Description` text,
  `UpdatedBy` enum('customer','admin','driver','system') NOT NULL,
  `UpdatedAt` timestamp DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`TrackingID`),
  FOREIGN KEY (`OrderID`) REFERENCES `orders`(`OrderID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- --------------------------------------------------------
-- Insert Sample Data
-- --------------------------------------------------------

-- Insert Admin
INSERT INTO `admin` (`Name`, `UserName`, `Email`, `password`) VALUES
('Admin User', 'admin', 'admin@laundry.com', '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi');

-- Insert Services
INSERT INTO `services` (`ServiceName`, `Description`, `Price`, `Category`) VALUES
('Wash & Fold', 'Basic washing and folding service', 15.00, 'Basic'),
('Dry Clean', 'Professional dry cleaning service', 25.00, 'Premium'),
('Iron & Press', 'Ironing and pressing service', 20.00, 'Premium'),
('Starch & Press', 'Starching and pressing service', 22.00, 'Premium'),
('Express Service', 'Same day service (additional charge)', 10.00, 'Express'),
('Bulk Wash', 'Large quantity washing service', 12.00, 'Bulk');

-- Insert Sample Customers
INSERT INTO `customer` (`Name`, `UserName`, `password`, `PhoneNumber`, `Email`, `Address`) VALUES
('John Doe', 'johndoe', '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', '0771234567', 'john@example.com', '123 Main St, Colombo'),
('Jane Smith', 'janesmith', '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', '0772345678', 'jane@example.com', '456 Oak Ave, Kandy'),
('Mohamed Ihsas', 'ihsas', '$2y$10$kBnKhZ0ZSWiNy1Z.Tw4dcOij8pJ8TuVDhZcmo6NBa7lPkjkVsDk.O', '763913526', 'Mohamedihsas001@gmail.com', 'Bogwantalawa');

-- Insert Sample Drivers
INSERT INTO `driver` (`fname`, `gender`, `phone`, `email`, `address`, `lnumber`, `vehicle`, `vnumber`, `uname`, `pw`) VALUES
('Mohamed Ihsas', 'Male', '763913526', 'Mohamedihsas001@gmail.com', 'Bogwantalawa', 'DL123456', 'Motor Bike', 'ABC-1234', 'ihsas', '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi'),
('Asokan Srisabeshan', 'Male', '763913526', 'sabeshan@example.com', 'Colombo', 'DL789012', 'Motor Bike', 'XYZ-5678', 'sabeshan', '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi');

-- Insert Sample Orders
INSERT INTO `orders` (`CustomerID`, `DriverID`, `PickupDate`, `DeliveryDate`, `PickupAddress`, `DeliveryAddress`, `TotalAmount`, `Status`, `PaymentStatus`) VALUES
(1, 1, '2024-01-15', '2024-01-17', '123 Main St, Colombo', '123 Main St, Colombo', 45.00, 'delivered', 'paid'),
(2, 2, '2024-01-16', '2024-01-18', '456 Oak Ave, Kandy', '456 Oak Ave, Kandy', 60.00, 'processing', 'paid');

-- Insert Sample Order Items
INSERT INTO `order_items` (`OrderID`, `ServiceID`, `Quantity`, `UnitPrice`, `TotalPrice`) VALUES
(1, 1, 2, 15.00, 30.00),
(1, 3, 1, 20.00, 20.00),
(2, 2, 2, 25.00, 50.00),
(2, 4, 1, 22.00, 22.00);

-- Insert Sample Payments
INSERT INTO `payments` (`OrderID`, `CustomerID`, `Amount`, `PaymentMethod`, `PaymentStatus`, `TransactionID`) VALUES
(1, 1, 45.00, 'card', 'completed', 'TXN123456'),
(2, 2, 60.00, 'cash', 'completed', 'TXN789012');

-- Insert Sample Feedback
INSERT INTO `feedback` (`CustomerID`, `OrderID`, `Rating`, `FeedbackText`) VALUES
(1, 1, 5, 'Excellent service! Very satisfied with the quality and delivery time.'),
(2, 2, 4, 'Good service, would recommend to others.');

-- Insert Sample Customer Support
INSERT INTO `customer_support` (`CustomerID`, `Name`, `Email`, `Phone`, `InquiryType`, `Message`) VALUES
(1, 'John Doe', 'john@example.com', '0771234567', 'delivery_issues', 'Delivery was late by 2 hours'),
(2, 'Jane Smith', 'jane@example.com', '0772345678', 'service_issues', 'Clothes were not properly ironed');

-- Insert Sample Delivery Locations
INSERT INTO `delivery_locations` (`CustomerID`, `LocationName`, `Address`, `Province`, `District`, `Area`, `Landmark`, `IsDefault`) VALUES
(1, 'Home', '123 Main St, Colombo', 'Western', 'Colombo', 'Colombo 03', 'Near Temple', TRUE),
(2, 'Office', '456 Oak Ave, Kandy', 'Central', 'Kandy', 'Kandy City', 'Opposite Bank', TRUE);

-- Insert Sample Order Tracking

-- --------------------------------------------------------
-- Create Indexes for Better Performance
-- --------------------------------------------------------

CREATE INDEX idx_customer_email ON customer(Email);
CREATE INDEX idx_customer_username ON customer(UserName);
CREATE INDEX idx_driver_email ON driver(email);
CREATE INDEX idx_driver_username ON driver(uname);
CREATE INDEX idx_orders_customer ON orders(CustomerID);
CREATE INDEX idx_orders_status ON orders(Status);
CREATE INDEX idx_orders_date ON orders(OrderDate);
CREATE INDEX idx_payments_order ON payments(OrderID);
CREATE INDEX idx_feedback_customer ON feedback(CustomerID);
CREATE INDEX idx_order_tracking_order ON order_tracking(OrderID);

-- --------------------------------------------------------
-- Create Views for Common Queries
-- --------------------------------------------------------

-- View for Order Summary
CREATE VIEW order_summary AS
SELECT 
    o.OrderID,
    c.Name AS CustomerName,
    c.Email AS CustomerEmail,
    c.PhoneNumber AS CustomerPhone,
    d.fname AS DriverName,
    o.OrderDate,
    o.PickupDate,
    o.DeliveryDate,
    o.TotalAmount,
    o.Status,
    o.PaymentStatus,
    p.PaymentMethod
FROM orders o
JOIN customer c ON o.CustomerID = c.CustomerID
LEFT JOIN driver d ON o.DriverID = d.Driver_id
LEFT JOIN payments p ON o.OrderID = p.OrderID;

-- View for Customer Dashboard
CREATE VIEW customer_dashboard AS
SELECT 
    c.CustomerID,
    c.Name,
    c.Email,
    COUNT(o.OrderID) AS TotalOrders,
    SUM(o.TotalAmount) AS TotalSpent,
    AVG(f.Rating) AS AverageRating
FROM customer c
LEFT JOIN orders o ON c.CustomerID = o.CustomerID
LEFT JOIN feedback f ON c.CustomerID = f.CustomerID
GROUP BY c.CustomerID, c.Name, c.Email;

COMMIT;
